---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import MusicSection from '../components/MusicSection.astro';
---

<Layout title="SVNFR — Glitch Awakens">
	<header class="hero">
		<div id="particles-js" class="particles-container"></div>
		<Navbar />
		<HeroSection />
	</header>

	<AboutSection />
	<MusicSection />
</Layout>
