---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import MusicSection from "../components/MusicSection.astro";
---

<Layout title="SVNFR — Post-Collapse Synthwave Transmission">
  <header class="hero">
    <div id="particles-js" class="particles-container"></div>
    <Navbar />
    <HeroSection />
  </header>

  <AboutSection />
  <MusicSection />
</Layout>
